@import "../../styles/variables";

#hero {
  background: linear-gradient(to top, $color-primary, $color-secondary),
    url("../assets/hero-bg.webp") no-repeat;
  height: 100vh;
  background-size: cover;
  padding: 2rem;
}

.hero-grid {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;

  #hero-title {
    display: block;
    color: white;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 1px 1px 1px #000000;
    line-height: .85;
    margin-bottom: 2rem;
  }

  #hero-subtitle {
    display: block;
    color: $color-accent;
    font-size: 3rem;
    font-weight: 500;
    line-height: .9;
  }

  #hero-text {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .hero-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero-image {
    display: block;
    width: 60%;
  }

  .hero-cta {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
  }
}

// Tablet
@media screen and (max-width: $tablet-breakpoint) {
  .hero-grid {
    flex-direction: column;
    text-align: center;

    #hero-title {
      font-size: 4.9rem;
    }

    #hero-subtitle {
      font-size: 3.3rem;
    }

    #hero-text {
      font-size: 1.7rem;
    }

    #hero-image {
      width: 80%;
      padding: 3.3rem;
      margin-top: 5rem;
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint) {
  .hero-grid {
    flex-direction: column;
    text-align: center;

    #hero-title {
      font-size: 4.0rem;
    }

    #hero-subtitle {
      font-size: 2.0rem;
    }

    #hero-text {
      font-size: 1.5rem;
    }

    #hero-image {
      display: none;
    }
  }
}
