// Breakpoints
$tablet-breakpoint: 830px;
$mobile-breakpoint: 500px;


// Colors
$color-primary: #310e63;
$color-primary-dark: #1c0838;
$color-secondary: #310e639c;
$color-accent: #e62143;
$color-accent-trans: #e621423a;

$color-text: rgb(21, 21, 21);