@import "../../styles/variables";

nav {
  display: grid;
  position: fixed;
  width: 100%;
  z-index: 99;
  transition: 300ms ease-in;

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5rem 0rem;

    .nav-menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;

      padding: 0.25rem 0.5rem;
      text-decoration: none;
      font-size: 0.9rem;
      transition: 300ms ease-in-out;

      i {
        font-size: 1.25rem;
      }
    }
  }
}

.nav-bg {
  background-color: $color-primary;
}

// Tablet
@media screen and (max-width: $tablet-breakpoint) {
  nav {
    .nav-menu {
      .nav-menu-item {
        font-size: 0.8;
      }
    }
  }
}

// Mobile
@media screen and (max-width: $mobile-breakpoint) {
  nav {
    .nav-menu {
      justify-content: space-evenly;

      .nav-menu-item {
        font-size: 0.7;

        i {
          font-size: 1.5rem;
        }
      }

      span {
        display: none;
      }
    }
  }
}
